# SecureExam Environment Configuration
# Copy this to .env and update with your values

# Server Configuration
PORT=3000
NODE_ENV=development

# Session Configuration
SESSION_SECRET=eea26a17a36a6ebbab625175b434238d629a69ced2ad49eebee7ffb98077d227

# Database Configuration
MONGO_URI=mongodb+srv://mohdsabir24bcy66_db_user:EcfoGRBk9fwa4U47@cluster0.hefvmrz.mongodb.net/?appName=Cluster0
DB_NAME=secure_exam
COLLECTION_NAME=User Data

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=itsssbn123@gmail.com
EMAIL_PASSWORD=kljf rnpe kpcn hmkr


# CORS Configuration
CORS_ORIGIN=http://localhost:3000